$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;


$font-size-default: 10px;
$font-size-h2: 4.4rem;
$font-size-paragraph-l: 1.5rem;
$font-size-button: 1.7rem;

$font-family-button: Georgia;
$font-family-text: Arial;

$width-wrapper-default: 128rem;
$width-content-default: 120rem;
$width-navigation: 44.3rem;

$line-height-text: 1.5rem;

$height-narrow: 6rem;
$margin-top-l: 6rem;

$tablet-width: 1279px;
$mobile-width: 767px;
