.about-content {
  background-color: $color-light-xl;
  margin-top: -4px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}
.about_text {
  width: 43.3rem;
  padding-left: 0.6rem;
}
.about_text_h3 {
  width: 37rem;
}
.about_text_p {
  padding-top: 2.5rem;
  width: 100%;
}
.about_pets {
  padding-right: 11.3rem;
}