.footer {
  background: url(../../assets/images/noise_transparent@2X.png) repeat,
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  h3 {
    color: $color-light-xl;
  }
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  @include media-tablet {
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-left: 3.3rem;
  }
  @include media-mobile {
    padding-left: 0;
    padding-top: 1.5rem;
  }

  &__list {
    width: 26.1%;

    @include media-tablet {
      width: 45%;
      padding-top: 1.5rem;
    }
    @include media-mobile {
      width: 87%;
    }
    h3 {
      @include media-mobile {
        text-align: center;
        margin-left: -1rem;
        padding-bottom: 3.8rem;
      }
    }
    .phone {
      padding-top: 0.4rem;
      @include media-mobile {
        padding: 0 0 0 0.5rem;
      }
    }

    &:nth-child(1) {
      padding-top: 1.6rem;
      h3 {
        padding-bottom: 0.5rem;
        @include media-mobile {
          padding-bottom: 0.1rem;
        }
      }
      @include media-mobile {
      margin-left: 2.5rem;
      }
    }
    &:nth-child(2) {
      width: 26.7%;
      padding-top: 1.5rem;
      @include media-tablet {
        width: 50%;
        padding-right: 2rem;
      }
      h3 {
        @include media-mobile {
          padding-left: 3rem;
          padding-bottom: 0.2rem;
        }
      }

      @include media-mobile {
        width: 100%;
        padding-top: 4rem;
      }
    }
    &:nth-child(3) {
     padding-left: 1.2rem;
      @include media-tablet {
        padding: 6rem 0 0 17rem;
      }
      @include media-mobile {
        padding: 4.2rem 0 0 2rem;
        margin: 0
      }
    }

    &_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      >* {
        padding: 3.3rem 2rem 0 0;
        @include media-mobile {
          padding: 3.7rem 0 0 0;
        }
      }

      h4_footer {
        @include media-mobile {
          padding-left: 2rem;
        }
    }
  }
}

.second-section {
 padding-top: 0;
  }
}