.footer {
  background: url(../../assets/images/noise_transparent@2X.png) repeat,
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  h3 {
    color: $color-light-xl;
  }
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  &__list {
    width: 26.1%;
    &:nth-child(1) {
      padding-top: 1.6rem;
    }
    &:nth-child(2) {
      width: 26.7%;
      padding-top: 1.5rem;
    }
    &:nth-child(3) {
     padding-left: 1.2rem;
    }

    &_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0.4rem;
      >* {
        padding: 3.5rem 2rem 0 0;
      }
    }
  }
}

.second-section {
 padding-top: 0;
  >* {
    margin-bottom: -0.7rem;
  }
}