.footer {
  background: url(../../assets/images/noise_transparent@2X.png) repeat,
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer-section {
  display: flex;
   padding: 4rem 0 0 4rem;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.8rem 16rem 6.2rem 0;
    &:nth-child(3) {
      margin: 0;
      padding-right: 4rem;
    }
    &:nth-child(1) {
      min-width: 27.9rem;
    }
    &:nth-child(2) {
      min-width: 33rem;
      margin-right: 13rem;
    }
    &_item {
      display: flex;
      justify-content: space-between;
      margin-right: 2.8rem;
      align-items: center;
    }
  }
  h3 {
    color: $color-light-xl;
  }
  h4 {
    color: $color-primary;
  }
  h5 {
    visibility: hidden;
  }
}
