.header {
  padding-top: 6rem;
  @include media-tablet {
  padding-top: 30px;
};
}
.screen-first {
  background: url('../../assets/images/noise_transparent@2x.png') repeat,
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header__wrapper {
  height: $height-narrow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}
.logo__title {
  @extend %font-add;
  @include font($size: 3.2rem, $height: 110%, $color: $color-primary);
  letter-spacing: 0.06em;
}
.logo__subtitle {
  @include font($size: 1.3rem, $height: 110%, $color: $color-light-xl);
  letter-spacing: 0.1em;
  padding-left: 0.4rem;
}
.navigation {
  display: flex;
  width: $width-navigation;
  @include media-mobile {
    display: none;
  };
}
.navigation__item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  white-space: nowrap;
}
.navigation__link {
  @include font($size: 1.5rem, $height: 160%, $color: $color-light-xl);
}
.navigation__link_active {
  border-bottom: solid 3px $color-primary;
}
.navigation__link_disabled {
  margin-left: 3rem;
  color: $color-dark-s;
}


%hamburger-line {
  content: " ";
  display: inline-block;
  position: absolute;
  background: $color-primary;
  height: 2px;
  width: 100%;
}
