.header {
  padding-top: 6.4rem;
}
.screen-first {
  background: url(assets/images/noise_lines_transparent@2X.png),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header__wrapper {
  height: $height-narrow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}
.logo__title {
  color: $color-primary;
  font-family: $font-family-button, Verdana, sans-serif;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__subtitle {
  color: $color-light-xl;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: 110%;
  font-family: $font-family-text, Verdana, sans-serif;
  padding-left: 0.4rem;
}
.header__navigation {

}
.navigation {
  display: flex;
  width: $width-navigation;
}
.navigation__item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  white-space: nowrap;
}
.navigation__link {
  color: $color-light-xl;
  font-family: $font-family-text, Verdana, sans-serif;
  list-style: none;
  font-size: 1.5rem;
  line-height: 160%;
}
.navigation__link_active {
  border-bottom: solid 3px $color-primary;
}
.navigation__link_disabled {
  margin-left: 30px;
  color: $color-dark-s;
}
