.header {
  background: aqua;

  height-max: $height-narrow;
}
.wrapper {
  max-width: $width-content-default;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo__title {
  color: $color-primary;
  font-family: $font-family-button, Verdana, sans-serif;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__subtitle {
  color: $color-light-xl;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 110%;
  font-family: $font-family-text, Verdana, sans-serif;
}
.header__navigation {

}
.navigation {

  display: flex;
  width: $width-navigation;

}
.navigation__item {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;

}
.navigation__link {
  color: $color-light-xl;
  font-family: $font-family-text, Verdana, sans-serif;
  list-style: none;
  font-size: 1.5rem;
  line-height: 160%;

}
.navigation__link_disabled {
  margin-left: 30px;
  color: $color-dark-s;
}
