.help-content {
  background: $color-light-xl;
  padding-top: -10rem;
}
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    text-align: center;
    margin-top: -1.8rem;
    span {
      display: block;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2.45rem 10rem 2.65rem;

    &_item {
      padding: 6rem 6rem 0;
      display: block;
      text-align: center;
      h4 {
        margin-top: 2.6rem;
      }
    }
  }

}