.pets {
  background: $color-light-l;

  &__content {
    display: flex;
    padding: 6.2rem 0 0.25rem 0;

    @include media-mobile {
      padding-top: 4.2rem ;
      flex-flow: wrap;
      text-align: center;
      justify-content: center;
      padding-bottom: 0;
    };
  }

  span {
    display: block;
  }

  &__cards {
    display: flex;
    padding: 0 5.3rem 0 5.3rem;
    justify-content: space-between;
    border-radius: 9px;
    @include media-tablet {
      padding: 0 1.2rem 0 1.2rem;
    }
    @include media-mobile {
       //padding-bottom: 10rem;
    };


    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-light-s;
      border-radius: 9px;
      @include media-mobile {
        order: 0;
      };

      &:nth-child(3) {
        @include media-tablet {
          display: none;
        };
      }

      &:nth-child(2) {
        margin: 0 9rem 0 9rem;
        @include media-tablet {
          margin-left: 4rem;
          margin-right: 0;
        };
        @include media-mobile {
          display: none;
        };
      }

      &:hover {
        background: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      }
    }
      &_title {
        margin: 2.8rem 0 3rem 0;
        @include media-mobile {
          padding: 3rem 0 3rem 0;
          margin: 0;
        };
      }

  }
    &__title {
      text-align: center;
      @include media-tablet {
        margin-top: 0.3rem;
      };
    }
  }
.slider {
  @include media-mobile {
    order: 1;
    margin-bottom: 6rem;

  }
}
