.start-screen__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46rem;
  height: 32.1rem;
  margin-top: -4.8rem;
}
.start-screen-puppy{
  padding-top: 3.8rem;
}