.wrapper {
  max-width: $width-wrapper-default;
  //padding: 0 4rem 0 4rem;
  margin: 0 auto;
}
.header__wrapper {
  padding: 0 4rem 0 4rem;
}
.start-screen__wrapper {
  padding: 0 4rem 0 4rem;

}
.pets__wrapper {
  background: $color-light-l;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
