* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: $font-size-default;
  font-family: $font-family-text;
  }
  body {
    width: 100%;
  }
  .menu {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(41, 41, 41, 0.6);
    }
    z-index: 1;

  }
  .popup {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $color-light-l;
    }
    z-index: 1;
  }
  a {
    text-decoration: none;
  }
  h1 {
    opacity: 0;
  }
  h2 {
    @extend %font-add;
    @include font($size: $font-size-h2, $height: 130%);
    @include media-mobile {
      @include font($size: 25px, $height: 130%);
      letter-spacing: 0.06em;
    }
  }
  h3 {
    @extend %font-add;
    @include font($size: 3.5rem, $height: 130%, $color: $color-dark-l);
    letter-spacing: 0.06em;
    @include media-mobile {
      font-size: 2.5rem;
    }

  }
  h4 {
    @extend %font-add;
    @include font($size: 2rem, $height: 115%, $color: $color-dark-l);
    letter-spacing: 0.06em;
    @include media-mobile {
      @include font($size: 1.5rem, $height: 110%, $color: $color-dark-l);    }
  }
h4_footer {
  @extend %font-add;
  @include font($size: 2rem, $height: 115%, $color: $color-primary);
  letter-spacing: 0.06em;
}
 h5 {
  @extend %font-add;
  @include font($size: 1.5rem, $height: 110%, $color: $color-dark-l);
  letter-spacing: 0.06em;
   @include media-mobile {
     line-height: 160%;
     letter-spacing: 0;
     font-family: Arial;
   }
}
  paragraph-l {
    @include font($size: $font-size-paragraph-l, $height: 160%, $color: $color-dark-xl);
  }

  paragraph-s {
    @include font($size: $font-size-paragraph-l, $height: 160%, $color: $color-dark-s);
  }

  pets-card-title {
    @extend %font-add;
    @include font($size: 2rem, $height: 2.3rem, $color: $color-dark-l);
    letter-spacing: 0.06em;
  }

  donation-description {
    @include font($size: 1.2rem, $height: 150%, $color: $color-dark-m, $style: italic);
  }
  picture {
    display: block;
  }

  .body-hidden {
    overflow: hidden;
  }