.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  @include media-mobile {
    display: block;
    margin: 1px 43px 0 40px;

  };
    &:before {
      @extend %hamburger-line;
      top: 0;
      left: 0;
    }
    &:after {
      @extend %hamburger-line;
      bottom: 0;
      left: 0;
    }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1px);
  left: 0;
}
