.logo__title, .slider-button-pets-pets, .slider-button-pets, pets-card-title, h5, h4_footer, h4, h3, h2, .button-secondary, .button-primary {
  font-family: Georgia, Verdana, sans-serif;
}

.button-secondary, .button-primary {
  width: 20.7rem;
  height: 5.2rem;
  left: 36rem;
  top: 61.2rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;
}

.slider-button_reverse, .slider-button {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  background: none;
  max-width: 5.2rem;
  max-height: 5.2rem;
  margin-top: 19rem;
  padding: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.slider-button-pets-pets, .slider-button-pets {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  background: none;
  max-width: 5.2rem;
  max-height: 5.2rem;
  padding: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.button-rest:hover, .learn-more:hover, .pagination_active:hover, .slider-button:hover, .slider-button_reverse:hover, .button-primary:hover {
  background: #FDDCC4;
  border: none;
  cursor: pointer;
  outline: none;
  transition-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial;
}

body {
  width: 100%;
}

.menu {
  position: relative;
  z-index: 1;
}
.menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
}

.popup {
  position: relative;
  z-index: 1;
}
.popup::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F6F6F6;
}

a {
  text-decoration: none;
}

h1 {
  opacity: 0;
}

h2 {
  font-size: 4.4rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  h2 {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 3.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    line-height: 110%;
    color: #545454;
  }
}

h4_footer {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  h5 {
    line-height: 160%;
    letter-spacing: 0;
    font-family: Arial;
  }
}

paragraph-l {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #4C4C4C;
}

paragraph-s {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #CDCDCD;
}

pets-card-title {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.06em;
}

donation-description {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  line-height: 150%;
  color: #B2B2B2;
}

picture {
  display: block;
}

.button-primary {
  background: #F1CDB3;
  border: none;
}
.button-secondary {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  background: #FFFFFF;
}

@media (max-width: 767px) {
  .slider-button {
    margin: 2rem 2rem 0 0;
    float: right;
  }
}
.slider-button_reverse {
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .slider-button_reverse {
    margin: 2rem 0 0 2rem;
  }
}
.slider-button-pets {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  color: #292929;
  letter-spacing: 0.06em;
  margin: 0 1rem 10rem 1rem;
}
@media (max-width: 1279px) {
  .slider-button-pets {
    margin: 0 -5rem 10rem 0;
  }
}

.slider-button-pets-pets {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  color: #292929;
  letter-spacing: 0.06em;
  margin: 0 1rem 10rem 1rem;
}
@media (max-width: 1279px) {
  .slider-button-pets-pets {
    margin-top: -1.6rem;
    margin-bottom: 7.4rem;
  }
}
@media (max-width: 767px) {
  .slider-button-pets-pets {
    margin: -1.8rem 0.5rem 4.2rem 0.5rem;
  }
}

.pagination_number {
  background: #FDDCC4;
  border: 3px solid #FDDCC4;
}
.pagination_disabled:disabled {
  color: #CDCDCD;
  border: 3px solid #CDCDCD;
}

.learn-more {
  width: 18.7rem;
  margin-bottom: 3rem;
  background: none;
}
.button-rest {
  margin: 5.9rem 0 10rem;
  width: 26.1rem;
}
@media (max-width: 767px) {
  .button-rest {
    margin-top: -1.7rem;
    margin-bottom: 4.2rem;
  }
}
.card {
  border-radius: 0.9rem;
  width: 34.9rem;
  height: 4.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 767px) {
  .card {
    width: 28.1rem;
    margin-left: 0.9rem;
  }
}

@media (max-width: 1279px) {
  .button-centered {
    text-align: center;
  }
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    order: 999;
    margin: 1px 43px 0 40px;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.hamburger_top {
  display: none;
}

.hamburger__line_top {
  top: 0;
  right: 0;
}
.hamburger__line_top:before {
  top: 10px;
  right: 0;
}
.hamburger__line_top:after {
  top: 20px;
  right: 0;
}

.hamburger_sub {
  position: absolute;
  top: 49px;
  right: 53px;
  margin: 0;
  width: 30px;
  height: 22px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-header {
  position: absolute;
  top: 15%;
  left: 18%;
  width: 95.2rem;
  height: 55.2rem;
  display: flex;
  flex-direction: column;
  z-index: 11;
}
@media (max-width: 1279px) {
  .modal-header {
    width: 68.2rem;
    height: 40.2rem;
    top: 5%;
    left: 8%;
  }
}
@media (max-width: 767px) {
  .modal-header {
    width: 27rem;
    height: 39.3rem;
  }
}

.modal-content {
  position: absolute;
  top: 54%;
  left: 47%;
  padding: 0;
  border: 1px solid #888;
  width: 90rem;
  transform: translate(-50%, -50%);
  background: #FAFAFA;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .modal-content {
    width: 63rem;
  }
}
@media (max-width: 767px) {
  .modal-content {
    width: 24rem;
    top: 66%;
  }
}

.modal_info {
  margin: 5rem 1.9rem 8.8rem 2.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .modal_info {
    margin: 1rem 0.8rem 3.7rem 1.1rem;
  }
}
@media (max-width: 767px) {
  .modal_info {
    margin: 1rem;
  }
}
@media (max-width: 767px) {
  .modal_info__pet {
    margin-left: 1rem;
  }
}
.modal_info__pet li {
  color: #F1CDB3;
  padding-top: 1rem;
}

.bold {
  font-weight: bold;
}

.modal_img img {
  border-radius: 9px 0px 0px 9px;
  width: 50rem;
  height: 50rem;
}
@media (max-width: 1279px) {
  .modal_img img {
    width: 35rem;
    height: 35rem;
  }
}
@media (max-width: 767px) {
  .modal_img img {
    display: none;
  }
}

.modal_info__name,
.modal_info__type {
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .modal_info__name,
.modal_info__type {
    text-align: center;
  }
}

.closeBtnModal {
  position: absolute;
  top: 0;
  right: 0;
  color: #292929;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  font-size: 3rem;
}
.closeBtnModal img {
  margin: 1.8rem;
}

.closeBtnModal:hover,
.closeBtnModal:focus {
  text-decoration: none;
  cursor: pointer;
  background: #f5f0f0;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.header {
  padding: 3rem 0 0.8rem 0;
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-pets__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-pets__wrapper a {
  display: block;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .logo {
    margin-left: auto;
  }
}

.logo__title {
  font-size: 3.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  color: #292929;
  letter-spacing: 0.1em;
  padding: 1rem 0 0 0.4rem;
}

.navigation {
  display: flex;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__item {
  display: flex;
  justify-content: space-between;
  margin-left: 3.6rem;
  white-space: nowrap;
}

.navigation__link {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #545454;
}

.navigation__link_active {
  border-bottom: solid 0.3rem #F1CDB3;
  color: #292929;
}

.hamburger_top {
  display: none;
}

.subMenu {
  position: relative;
  display: block;
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  background: #292929;
  z-index: 5;
}
.subMenu .logo {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 3.33%;
}
.subMenu .logo__title {
  color: #F1CDB3;
}
.subMenu .logo__subtitle {
  color: #FFFFFF;
}
.subMenu .hamburger {
  display: none;
}
.subMenu .header__navigation .navigation {
  position: absolute;
  top: 22rem;
  left: 16rem;
  display: flex;
  flex-direction: column;
  z-index: 9;
}
.subMenu .header__navigation .navigation .navigation__item {
  position: relative;
  display: flex;
  white-space: nowrap;
  margin: 2rem 0;
  transform: translateX(-50%);
  cursor: pointer;
  justify-content: center;
}
.subMenu .header__navigation .navigation .navigation__item .navigation__link {
  font-size: 3.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #CDCDCD;
}
.subMenu .header__navigation .navigation .navigation__item .navigation__link_active {
  border-bottom: solid 3px #F1CDB3;
  color: #FAFAFA;
}

.open {
  transform: translateX(-320px);
  left: 100%;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
}

.close {
  left: 40%;
  transform: translateX(100%);
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
}

.rotated {
  transform: rotate(90deg);
  transition: transform 1s;
}

.hamburger:before, .hamburger:after, .hamburger__line {
  content: " ";
  display: block;
  position: absolute;
  background: black;
  height: 2px;
  width: 100%;
}

.hamburger__line_top, .hamburger__line_top:before, .hamburger__line_top:after {
  content: " ";
  display: block;
  position: absolute;
  background: #F1CDB3;
  height: 2px;
  width: 30px;
}

.wrapper {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 0 2.9rem 0 3rem;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 1rem;
  }
}

.header-pets__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.1rem;
}
@media (max-width: 767px) {
  .pets__wrapper {
    padding-top: 3.8rem;
  }
}

.pets__wrapper-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.1rem;
}
@media (max-width: 1279px) {
  .pets__wrapper-pets {
    padding-top: 3.8rem;
  }
}
@media (max-width: 767px) {
  .pets__wrapper-pets {
    padding-top: 3.6rem;
  }
}

.help__wrapper {
  padding-top: 9.8rem;
}

.footer {
  background: url(../../assets/images/noise_transparent@2X.png) repeat, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer h3 {
  color: #FFFFFF;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
@media (max-width: 1279px) {
  .footer-section {
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-left: 3.3rem;
  }
}
@media (max-width: 767px) {
  .footer-section {
    padding-left: 0;
    padding-top: 1.5rem;
  }
}
.footer-section__list {
  width: 26.1%;
}
@media (max-width: 1279px) {
  .footer-section__list {
    width: 45%;
    padding-top: 1.5rem;
  }
}
@media (max-width: 767px) {
  .footer-section__list {
    width: 87%;
  }
}
@media (max-width: 767px) {
  .footer-section__list h3 {
    text-align: center;
    margin-left: -1rem;
    padding-bottom: 3.8rem;
  }
}
.footer-section__list .phone {
  padding-top: 0.4rem;
}
@media (max-width: 767px) {
  .footer-section__list .phone {
    padding: 0 0 0 0.5rem;
  }
}
.footer-section__list:nth-child(1) {
  padding-top: 1.6rem;
}
.footer-section__list:nth-child(1) h3 {
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .footer-section__list:nth-child(1) h3 {
    padding-bottom: 0.1rem;
  }
}
@media (max-width: 767px) {
  .footer-section__list:nth-child(1) {
    margin-left: 2.5rem;
  }
}
.footer-section__list:nth-child(2) {
  width: 26.7%;
  padding-top: 1.5rem;
}
@media (max-width: 1279px) {
  .footer-section__list:nth-child(2) {
    width: 50%;
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .footer-section__list:nth-child(2) h3 {
    padding-left: 3rem;
    padding-bottom: 0.2rem;
  }
}
@media (max-width: 767px) {
  .footer-section__list:nth-child(2) {
    width: 100%;
    padding-top: 4rem;
  }
}
.footer-section__list:nth-child(3) {
  padding-left: 1.2rem;
}
@media (max-width: 1279px) {
  .footer-section__list:nth-child(3) {
    padding: 6rem 0 0 17rem;
  }
}
@media (max-width: 767px) {
  .footer-section__list:nth-child(3) {
    padding: 4.2rem 0 0 2rem;
    margin: 0;
  }
}
.footer-section__list_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-section__list_item > * {
  padding: 3.3rem 2rem 0 0;
}
@media (max-width: 767px) {
  .footer-section__list_item > * {
    padding: 3.7rem 0 0 0;
  }
}
@media (max-width: 767px) {
  .footer-section__list_item h4_footer {
    padding-left: 2rem;
  }
}
.footer-section .second-section {
  padding-top: 0;
}

.pets {
  background: #F6F6F6;
}
.pets span {
  display: block;
}
.pets__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  border-radius: 9px;
}
@media (max-width: 1279px) {
  .pets__cards {
    margin: 3rem 6.4rem 0 6.4rem;
  }
}
@media (max-width: 767px) {
  .pets__cards {
    margin: 3rem 1.5rem 0 1.5rem;
  }
}
.pets__cards_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  border-radius: 9px;
  margin-bottom: 3.1rem;
}
@media (max-width: 1279px) {
  .pets__cards_item {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .pets__cards_item {
    margin-bottom: 3.15rem;
  }
}
@media (max-width: 1279px) {
  .pets__cards_item:last-child {
    display: none;
  }
}
@media (max-width: 1279px) {
  .pets__cards_item:nth-last-child(2) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__cards_item:nth-last-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__cards_item:nth-last-child(4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__cards_item:nth-last-child(5) {
    display: none;
  }
}
.pets__cards_item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__cards_title {
  margin: 2.8rem 0 3.2rem 0;
}
.pets__title {
  text-align: center;
}
@media (max-width: 1279px) {
  .pets__title {
    padding: 4.2rem 0 0.2rem 0;
  }
}
@media (max-width: 767px) {
  .pets__title {
    padding: 0.6rem 0 1.2rem 0;
  }
}

.pagination {
  display: flex;
  margin-top: 2.8rem;
}

.margin-top {
  margin-top: 10rem;
}

/*# sourceMappingURL=style.css.map */
