.logo__title, pets-card-title, h4, h3, h2, .button-secondary, .button-primary {
  font-family: Georgia, Verdana, sans-serif;
}

.button-secondary, .button-primary {
  width: 20.7rem;
  height: 5.2rem;
  left: 36rem;
  top: 61.2rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #4C4C4C;
  letter-spacing: 0.06em;
}

.slider-button_reverse, .slider-button {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  background: none;
  max-width: 5.2rem;
  max-height: 5.2rem;
  margin-top: 19rem;
  padding: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-rest:hover, .slider-button:hover, .slider-button_reverse:hover, .button-primary:hover {
  background: #FDDCC4;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  opacity: 0;
}

h2 {
  font-size: 4.4rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  font-size: 3.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

paragraph-l {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #4C4C4C;
}

paragraph-s {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #CDCDCD;
}

pets-card-title {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.06em;
}

.button-primary {
  background: #F1CDB3;
  border: none;
}
.button-secondary {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  background: #FFFFFF;
}

.slider-button_reverse {
  transform: rotate(180deg);
}
.learn-more {
  width: 18.7rem;
  margin-bottom: 3rem;
  background: none;
}

.button-rest {
  margin: 6.2rem 0 10rem;
  width: 26.1rem;
}
.header {
  padding-top: 6rem;
}

.screen-first {
  background: url("../../assets/images/noise_transparent@2x.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header__wrapper {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}

.logo__title {
  font-size: 3.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding-left: 0.4rem;
}

.navigation {
  display: flex;
  width: 44.3rem;
}

.navigation__item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  white-space: nowrap;
}

.navigation__link {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;
  color: #FFFFFF;
}

.navigation__link_active {
  border-bottom: solid 3px #F1CDB3;
}

.navigation__link_disabled {
  margin-left: 30px;
  color: #CDCDCD;
}

.wrapper {
  max-width: 128rem;
  margin: 0 auto;
}

.header__wrapper {
  max-width: 120rem;
}

.start-screen__wrapper {
  max-width: 120rem;
}

.pets__wrapper {
  background: #F6F6F6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.start-screen__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46rem;
  height: 32.1rem;
  margin-top: -4.8rem;
}

.start-screen-puppy {
  padding-top: 3.8rem;
}

.about-content {
  background-color: #FFFFFF;
  margin-top: -4px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.about_text {
  max-width: 43.3rem;
  padding-left: 0.6rem;
}

.about_text_h3 {
  width: 37rem;
}

.about_text_p {
  padding-top: 2.5rem;
  width: 100%;
}

.about_pets {
  padding-right: 11.3rem;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__text {
  text-align: center;
  margin-top: -1.8rem;
}
.help__text span {
  display: block;
}
.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 6.45rem 10rem 6.65rem;
}
.help__list_item {
  padding: 6rem 6rem 0;
  display: block;
  text-align: center;
}
.help__list_item h4 {
  margin-top: 2.6rem;
}

.pets {
  padding: 9.8rem;
}
.pets__content {
  display: flex;
  padding: 6.2rem 4.5rem 0 4.5rem;
}
.pets span {
  display: block;
}
.pets__cards {
  display: flex;
  padding: 0 5.3rem 0 5.3rem;
  justify-content: space-between;
  border-radius: 9px;
}
.pets__cards_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
}
.pets__cards_item:nth-child(2) {
  margin: 0 9rem 0 9rem;
}
.pets__cards_item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__cards_title {
  margin: 2.8rem 0 3rem 0;
}
.pets__title {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
